<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="https://www.thymeleaf.org"
>
<head>
	<title layout:fragment="title">HTTP 403 ERROR</title>
</head>
<div class="container d-flex justify-content-center align-items-center min-vh-100" layout:fragment="content">
	<div class="text-balance text-center d-flex flex-column">
		이 페이지를 로드할 권한이 부족합니다.
		<a href="javascript:history.back()">뒤로가기</a>
	</div>
</div>
</html>
