<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{_layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
	<link rel="stylesheet" th:href="@{/webjars/summernote/0.8.20/dist/summernote-bs5.css}"/>
	<title th:text="${articleDTO.id == null ? '새글 작성' : '글 편집'}"></title>
</head>
<div class="container my-3" layout:fragment="content">
	<div class="my-3 pb-2 border-bottom">
		<h3 th:if="${articleDTO.id == null}">새글 작성</h3>
		<h3 th:unless="${articleDTO.id == null}">글 편집</h3>
	</div>
	
	<form id="article-create-form">
		<div class="row mb-3">
			
			<!--			category-->
			<div class="col-4 col-md-2 flex-shrink-0">
				<label class="form-label" for="article-category">말머리</label>
				<select class="form-select" id="article-category" name="categoryId">
					<option th:each="c : ${categoryDTOs}"
					        th:selected="${articleDTO?.categoryId == c.id}"
					        th:text="${c.name}"
					        th:value="${c.id}"></option>
				</select>
			</div>
			
			<!--		title-->
			<div class="col-8 col-md-10">
				<label class="form-label" for="title">제목</label>
				<input class="form-control" id="title"
				       name="title"
				       placeholder="제목을 입력하세요."
				       th:value="${articleDTO.title}">
				<div class="invalid-feedback"></div>
			</div>
		</div>
		
		<!--		content-->
		<div class="mb-3">
			<label class="form-label" for="content">내용</label>
			<textarea class="d-none" id="content" name="content"
			          th:text="${articleDTO.content}"></textarea>
			<div class="invalid-feedback"></div>
		</div>
		
		<!--		article id-->
		<input name="id" th:if="${articleDTO.id != null}" th:value="${articleDTO.id}" type="hidden"/>
		
		<div class="my-2">
			<button class="btn btn-primary" type="submit">저장</button>
			<a class="btn btn-outline-secondary" th:href="@{/article}" th:if="${articleDTO.id == null}">취소</a>
			<a class="btn btn-outline-secondary" th:href="@{/article/{id}(id=${articleDTO.id})}"
			   th:unless="${articleDTO.id == null}">취소</a>
		</div>
	</form>
</div>
<th:block layout:fragment="script">
	<script th:src="@{/webjars/jquery/3.7.1/jquery.slim.js}"></script>
	<script th:src="@{/webjars/summernote/0.8.20/dist/summernote-bs5.js}"></script>
	<script th:src="@{/webjars/summernote/0.8.20/src/lang/summernote-ko-KR.js}"></script>
	<script>
		$(document).ready(function () {
			
			$('#content').summernote({
				disableDragAndDrop: true,
				height: 300,
				lang: 'ko-KR',
				spellCheck: true,
				placeholder: '내용을 입력하세요. ※이미지는 외부 URL로만 첨부 가능합니다.',
				toolbar: [
					['style', ['bold', 'italic', 'underline', 'clear']],
					['font', ['strikethrough', 'superscript', 'subscript']],
					['color', ['color']],
					['para', ['ul', 'ol', 'paragraph']],
					['table', ['table']],
					['insert', ['link', 'picture']],
					['view', ['fullscreen', 'codeview', 'help']],
				],
				callbacks: {
					onInit: function () {
						const selectFromFiles = document.querySelector('.note-group-select-from-files')
						if (selectFromFiles) {
							selectFromFiles.remove()
						}
					},
					onPaste: function (e) {
						// HTML 내용에서 Base64 이미지 검출 후 제거
						setTimeout(() => {
							var code = $('#content').summernote('code')
							if (code.includes('data:image/')) {
								$('#content').summernote('code', code.replace(/<img[^>]+src="data:image\/[^">]+"[^>]*>/g, ''))
								alert('이미지는 URL로만 첨부 가능합니다.')
							}
						}, 10) // Summernote 내부 처리 대기
					},
				},
			})
		})
	</script>
	<script src="/js/article-submit.js"></script>
</th:block>
</html>
