<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.ArticleCategoryRepository">

    <insert id="insertCategory">
        INSERT INTO article_categories (name)
        VALUES (#{name})
    </insert>

    <update id="updateArticleCount"
            parameterType="map">
        UPDATE article_categories
        SET article_count = #{articleCount}
        WHERE id = #{id}
    </update>

    <select id="selectCategoryByIdForUpdate"
            parameterType="Long" resultType="ArticleCategoryDTO">
        SELECT *
        FROM article_categories
        WHERE id = #{id}
            FOR UPDATE
    </select>

    <select id="selectCategories"
            resultType="ArticleCategoryDTO">
        SELECT *
        FROM article_categories
        ORDER BY article_count DESC, id
    </select>

    <select id="countCategories">
        SELECT count(id)
        FROM article_categories
    </select>

</mapper>
