<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.RoleRepository">

    <insert id="insertRoles"
            parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO roles (role_type, display_name)
        VALUES
        <foreach collection="list" item="RoleDTO" separator=",">
            (#{RoleDTO.roleType}, #{RoleDTO.displayName})
        </foreach>
    </insert>

    <select id="selectByRoleType"
            resultType="RoleDTO" parameterType="RoleType">
        SELECT *
        FROM roles
        WHERE role_type = #{roleType}
    </select>

    <select id="countRoles"
            resultType="long">
        SELECT count(id)
        FROM roles
    </select>
</mapper>
