<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.UserRepository">

    <insert id="insertLocalUser" parameterType="UserDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, nickname, password)
        VALUES (#{username}, #{nickname}, #{password})
    </insert>

    <update id="updateUser" parameterType="UserDTO">
        UPDATE users
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="password != null">password = #{password},</if>
            <if test="imageId != null">image_id = #{imageId},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="existsByUsername" parameterType="String" resultType="boolean">
        SELECT EXISTS (SELECT 1 FROM users WHERE username = #{value})
    </select>

    <select id="selectById" parameterType="Long" resultType="UserDTO">
        select u.*,
               ur.name         as "role.name",
               ur.display_name as "role.displayName",
               ui.id           as "image.id",
               ui.url          as "image.url",
               ui.public_id    as "image.publicId"
        from users u
                 join user_roles ur on u.role_id = ur.id
                 left join user_images ui on u.image_id = ui.id
        where u.id = #{id}
    </select>

    <select id="selectByUsername" parameterType="String" resultType="UserDTO">
        SELECT u.*,
               ur.name         as "role.name",
               ur.display_name as "role.displayName",
               ui.id           as "image.id",
               ui.url          as "image.url",
               ui.public_id    as "image.publicId"
        FROM users u
                 join user_roles ur on u.role_id = ur.id
                 LEFT JOIN user_images ui ON u.image_id = ui.id
        WHERE u.username = #{username}
    </select>
</mapper>
