<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.UserRoleRepository">

    <insert id="insertManyUserRoles" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user_roles (name, display_name)
        values
        <foreach collection="list" item="userRole" separator=",">
            (#{userRole.name}, #{userRole.displayName})
        </foreach>
    </insert>

    <select id="selectByName" resultType="UserRoleDTO" parameterType="String">
        select *
        from user_roles
        where name = #{name}
    </select>

    <select id="count" resultType="long">
        select count(*)
        from user_roles
    </select>
</mapper>
