<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.UserRoleRepository">

    <insert id="insertRoles"
            parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user_roles (name, display_name)
        values
        <foreach collection="list" item="UserRoleDTO" separator=",">
            (#{UserRoleDTO.name}, #{UserRoleDTO.displayName})
        </foreach>
    </insert>

    <select id="selectRoleByName"
            resultType="UserRoleDTO" parameterType="String">
        select *
        from user_roles
        where name = #{name}
    </select>

    <select id="countRoles"
            resultType="long">
        select count(id)
        from user_roles
    </select>
</mapper>
