<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="f66.springboot_mvc_starter.repository.UserImageRepository">

    <insert id="insertUserImage" parameterType="UserImageDTO" useGeneratedKeys="true" keyProperty="id">
        insert into user_images (public_id, original_file_name, url, user_id)
        values (#{publicId}, #{originalFileName}, #{url}, #{userId})
    </insert>

    <update id="updateUserImage" parameterType="Long">
        update user_images
        <set>
            <if test="publicId != null">public_id = #{publicId},</if>
            <if test="originalFileName != null">original_file_name = #{originalFileName},</if>
            <if test="url != null">url = #{url},</if>
            updated_at = now()
        </set>
        WHERE id = #{id}
    </update>

    <select id="selectByUserId" parameterType="Long" resultType="UserImageDTO">
        select *
        from user_images
        where user_id = #{userId}
    </select>

</mapper>
